<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if(orders.length<=0) {%>
                    <h1>Nothing there!</h1>
                    <%} else {%>
                        <ul>
                            <% orders.forEach(order=>{ %>
                                <li>
                                    <h1>Order Number #<%= order.id%>
                                    </h1>

                                    <%order.products.forEach(product=> {%>
                                        <table>
                                            <tr>
                                                <th>Product Name</th>
                                                <th>Quantity</th>

                                            </tr>

                                            <tr>
                                                <td>
                                                    <%= product.title%>
                                                </td>
                                                <td>
                                                    <%= product.orderItem.quantity%>
                                                </td>

                                            </tr>
                                        </table>
                                        <%})%>


                                </li>
                                <%});%>
                        </ul>
                        <%}%>
            </main>
            <%- include('../includes/end.ejs') %>